version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.2.5
    environment:
      - KC_BASE=http://keycloak:8080
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HEALTH_ENABLED=true
    command:
      - start-dev
      - --import-realm
    ports:
      - '8080:8080'
    networks:
      - node-network
    volumes:
      - ./keycloak:/opt/keycloak/data/import
    healthcheck:
      test:
        [
          'CMD-SHELL',
          '[ -f /tmp/HealthCheck.java ] || echo "public class HealthCheck { public static void main(String[] args) throws java.lang.Throwable { java.net.URI uri = java.net.URI.create(args[0]); System.exit(java.net.HttpURLConnection.HTTP_OK == ((java.net.HttpURLConnection)uri.toURL().openConnection()).getResponseCode() ? 0 : 1); } }" > /tmp/HealthCheck.java && java /tmp/HealthCheck.java http://localhost:9000/health/live',
        ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 5s

networks:
  node-network:
    driver: bridge
